In [1]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
imdb = sqlite3.connect('im.db')

In [10]:
pd.read_sql("""SELECT name 
                      AS 'Table Names' 
                      FROM sqlite_master 
                      WHERE type='table';""", imdb)

Empty DataFrame
Columns: [Table Names]
Index: []

In [6]:
imdb = sqlite3.connect('im.db')

In [11]:
pd.read_sql("""SELECT * FROM movie_basics""", imdb)

DatabaseError: Execution failed on sql 'SELECT * FROM movie_basics': no such table: movie_basics